* {
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-family: 'Grand Hotel', cursive;
}

.btn {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Grand Hotel', cursive;
  font-size: 2em;
}
