<nav class="shadow-md">
  <div class="container flex max-w-screen-xl m-auto justify-between">
    <div class="logo-content">
      <%= link_to root_path do %>
        <p class="logo logo-up" href="#">Bibili</p>
      <% end %>
    </div>
    <div class="search">
    
    </div>
    <div class="sign flex">
      <div class="btn">
        <div class="sign-in">
          <p>S'identifier</p>
        </div>
      </div>
      <div class="btn">
        <div class="sign-up">
          <p>S'inscrire</p>
        </div>
      </div>
    </div>
  </div>
  


</nav>
