.logo-up {
  font-size: 3em;
}

.logo-down {
  font-size: 3em;
}

.nav-profil {
  height: 56px;
}

nav i{
  font-weight: 500;
  font-size: 1.2em;
}

.sign-in {
  height: 56px;
  align-items: center;
}

.sign-up {
  height: 56px;
}
