.logo-up {
  font-size: 3em;
}

.logo-down {
  font-size: 3em;
}

.search{
  position: relative;
  border-bottom: 2px solid #831843;
  .fa-search {
    position: absolute;
    left: 10px;
  }
  input:focus {
    outline: none;
    color: #831843;
  }
}






.nav-profil {
  height: 56px;
}

nav i{
  font-weight: 500;
  font-size: 1.2em;
}

.sign-in {
  height: 56px;
  align-items: center;
}

.sign-up {
  height: 56px;
}
